/*
!.*
*/*

!*.conf
!*.json

.mozilla/*
.config/*
!.config/sway/config
.tools
.cargo/registry/*
.cargo/git/*
.cache/
.vst3/*.vst3
.git-credentials
.gitconfig
.bash_history
.lesshst
.viminfo
.wget-hsts
.npm/anonymous-cli-metrics.json
.secret/*
